.container-fluid {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	@include mlg() {
		padding-left: 45px;
		padding-right: 45px;
	}
	@include msm() {
		padding-left: 20px;
		padding-right: 20px;
	}
	&_full {
		max-width: none;
		margin-left: 0;
	}
}

.column {
	padding-left: 15px;
	padding-right: 15px;
	&_margin_top_5 {
		margin-top: 5px;
	}
	&_margin_top_10 {
		margin-top: 10px;
	}
	&_margin_bottom_5 {
		margin-bottom: 5px;
	}
	&_margin_bottom_10 {
		margin-bottom: 10px;
	}
	&_margin_bottom_15 {
		margin-bottom: 15px;
	}
	&_padding_top_90 {
		padding-top: 90px;
	}
}
.row {
	&_indents_s {
		margin-left: -5px;
		margin-right: -5px;
		& > * {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&_indents_m {
		margin-left: -10px;
		margin-right: -10px;
		& > * {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
