.button {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #cdd0dd;
	padding: 22px 35px;

	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	color: #212528;
	text-align: center;

	border-radius: 5px;
	background-color: transparent;

	transition: linear .2s;
	@include mlg() {
		font-size: 32px;
		padding-top: 39px;
		padding-bottom: 39px;
		padding-left: 42px;
		padding-right: 42px;
	}
	@include msm() {
		padding: 22px 35px;
		font-size: 16px;
	}
	&:hover, &:focus {
		color: #212528;
		text-decoration: none;
		border-color: #ffc119;

	}
	&:hover {
		// transform: scale(1.05, 1.05);
		box-shadow: 0 6px 12px rgba(#000, .1);
		@include mlg() {
			animation-name: none;
		}
	}
	&[disabled] {
		background-color: #eff1f5;
		border-color: #eff1f5;
		color: rgba(0, 0, 0, 0.3);
		cursor: default;
		animation-name: none;
		&:hover {
			background-color: #eff1f5;
			border-color: #eff1f5;
			animation-name: none;
		}
	}
	&_theme_yellow {
		background-color: #ffdc19;
		border-color: #ffdc19;
		&:hover, &:focus {
			background-color: #ffdf19;
			border-color: #ffdf19;
		}
	}
	&_theme_icon {
		padding-top: 18px;
		padding-bottom: 17px;
		.icon-text {
		}
		.icon-text__icon {
			margin-right: 15px;
			color: #cdd0dd;
			@include mlg() {
				font-size: 50px;
				margin-right: 30px;
			}
			@include msm() {
				font-size: 30px;
				margin-right: 15px;
			}
		}
		.icon-text__text {
			color: #212528;
			@include mlg() {
				font-size: 32px;
			}
			@include msm() {
				font-size: 16px;
			}
		}
		&:hover, &:focus {
			.icon-text__icon {
				color: #ffdc19;
			}
		}
	}
	&_disabled {
		background-color: #eff1f5;
		border-color: #eff1f5;
		color: rgba(#000, .3);
		cursor: default;
		&:hover, &:focus {
			color: rgba(#000, .3);
			border-color: #eff1f5;
		}
	}
	&_toggle {
		position: relative;
		text-align: left;
		padding-right: 50px;
		span {
			display: inline-block;
		}
		@include mlg() {
			min-width: 200px;
			padding-right: 100px;
		}
		@include msm() {
			padding-right: 30px;
		}
	}
}
.button__caret {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 25px;

	color: #b1aebd;
	font-size: 15px;
	@include mlg() {
		right: 50px;
		font-size: 30px;
	}
	@include msm() {
		right: 15px;
		font-size: 15px;
	}
}

.button-clr {
	padding: 0;
	border: none;
	background-color: transparent;
}