.checkbox {
	display: inline-block;
	vertical-align: top;
	&_size_small {
		font-size: 14px;
		line-height: 1.714;
		.checkbox__label {
			min-width: 20px;
			min-height: 20px;
			&:before {
				width: 20px;
				height: 20px;
				border-width: 1.5px;
				border-color: rgb(214, 217, 229);
				border-style: solid;
				border-radius: 5px;
			}
		}
		.checkbox__label-in {
			padding-left: 55px;
			min-height: 20px;
		}
		.checkbox__checked {
			font-size: 11px;
			left: 5px;
		}
	}
	// &_submit {
	// 	padding-bottom: 30px;
	// 	position: relative;
	// 	.checkbox__input:not(:checked) {
	// 		& + label {
	// 			.checkbox__label-in {
	// 				color: #4d5d73;
	// 			}
	// 			& + .checkbox__submit {
	// 				background-color: #eff1f5;
	// 				border-color: #eff1f5;
	// 				color: rgba(#000, .3);
	// 				cursor: default;
	// 				&:hover, &:focus {
	// 					color: rgba(#000, .3);
	// 					border-color: #eff1f5;
	// 				}
	// 				& + .checkbox__alert {
	// 					display: block;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	&_radio {
		.checkbox__input {
			&.error {
				& + label {
					&:before {
						border-color: #dc342d;
					}
				}
			}
			&:checked {
				& + label {
					&:before {
						background-color: transparent;
					}
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.checkbox__label {
			&:before {
				border-radius: 50%;
				width: 20px;
				height: 20px;
				border-width: 2px;
				@include mlg() {
					width: 40px;
					height: 40px;
				}
				@include msm() {
					width: 30px;
					height: 30px;
				}
			}
			.svg-icon {
				display: none;
			}
			&:after {
				content: '';
				background: none;

				position: absolute;
				top: 50%;
				left: 5px;
				transform: translate(0, -50%);

				width: 10px;
				height: 10px;
				border-radius: 50%;

				background-color: #d6dce6;

				opacity: 0;
				visibility: hidden;
				@include mlg() {
					width: 20px;
					height: 20px;
					left: 10px;
				}
				@include msm() {
					width: 16px;
					height: 16px;
					left: 7px;
				}

			}
		}
		.checkbox__label-in {
			padding-left: 40px;
			@include mlg() {
				padding-left: 100px;
			}
			@include msm() {
				padding-left: 50px;
			}
		}
		&:first-child {
			padding-top: 0 !important;
		}
	}
}
.checkbox__input {
	&:checked {
		& + label {
			&:before {
				background-color: #cdd0dd;
			}
			.checkbox__checked {
				opacity: 1;
				visibility: visible;
			}
		}
		& ~ .form-alert {
			display: none;
		}
	}
}
.checkbox__label {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;

	min-width: 42px;
	min-height: 39px;
	@include msm() {
		min-width: 30px;
		min-height: 30px;
	}
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 0;

		width: 42px;
		height: 39px;
		border: 1px solid #d6d9e5;
		border-width: 3px;
		border-color: rgb(214, 217, 229);
		border-style: solid;
		border-radius: 10px;
		transition: linear .1s;
		@include msm() {
			width: 30px;
			height: 30px;
		}
	}
}
.checkbox__checked {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translate(0, -50%);

	opacity: 0;
	visibility: hidden;

	color: #818597;
	font-size: 18px;

	transition: linear .1s;
	@include msm() {
		left: 7px;
	}
}
.checkbox__label-in {
	padding-left: 90px;
	min-height: 39px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	transition: linear .1s;
	a {
		display: inline;
		text-decoration: underline;
		// border-bottom: 1px solid #dadae0;
		&:hover {
			text-decoration: none;
			border-bottom-color: transparent;
		}
	}
	@include msm() {
		padding-left: 50px;
	}
}
.quiz__buttons {
	@include msm() {
		margin-left: -5px;
		margin-right: -5px;
		& > * {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}
.checkbox__submit {
	margin-bottom: 55px;
	@include msm() {
		// margin-bottom: 10px;
	}
}
.checkbox__alert {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;

	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include msm() {
		bottom: -10px;
	}
}