.collapse-item {
	padding-bottom: 28px;
	border-bottom: 1px solid #e0e3ee;
	margin-bottom: 20px;
	@include mlg() {
		overflow: hidden;
		border-radius: 15px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 59px 0px rgba(210, 222, 234, 0.57);

		padding: 50px 60px;
	}
	@include msm() {
		padding: 25px 20px;
	}
	.license__content {
		@include mlg() {
			width: 250px;
		}
	}
}
.collapse-item__head {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-right: 30px;

	transition: linear .5s;
	@include mlg() {
		// margin-bottom: 50px !important;
	}
	@include msm() {
		padding-right: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		@include mlg() {
			font-size: 32px;
		}
		@include msm() {
			font-size: 20px;
		}
	}
	.svg-icon {
		color: #aeb1b9;
		// margin-left: 20px;
		position: relative;
		@include mlg() {
			margin: 0;
		}

			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);

			// width: 72px;
			// height: 72px;
			// border: 4px solid #cdd0dd;

			// border-radius: 50%;
		// }
	}
	&:hover {
		text-decoration: none;
	}
	&:not(.collapsed) {
		margin-bottom: 20px;
		@include mlg() {
			margin-bottom: 0;
		}
	}
}
.collapse-item__toggle {
	margin-left: 20px;
	@include mlg() {

		width: 100%;
		max-width: 72px;
		flex: 0 0 72px;
		height: 72px;
		border: 4px solid #cdd0dd;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border-radius: 50%;
		.svg-icon {
			position: relative;
			top: 3px;
		}
	}
	@include msm() {
		max-width: 40px;
		flex: 0 0 40px;
		height: 40px;
		border-width: 2px;
		.svg-icon {
			font-size: 15px;
			top: 1px;
		}
	}
}
.collapse-item__collapse {
	animation-name: fadeInUp;
	animation-duration: 1s;
	// padding-top: 20px;
}
.collapse-item__collapse-in {
	@include mlg() {
		margin-top: 50px;
		padding-top: 50px;
		border-top: 1px solid #e5e5e5;
	}
	@include msm() {
		padding-top: 25px;
		margin-top: 25px;
	}
}

.collapse-item__license {
	margin-top: 75px;
	@include lg() {
		display: none;
	}
	img {
		width: 150px;
		@include mmd() {
			width: 130px;
			margin-right: 20px;
		}
	}
	p {
		@include mlg() {
			line-height: 1.2;
			strong {
				font-size: 28px;
				line-height: 1.2;
				// font-size: 28px;
			}
		}
		@include msm() {
			strong {
				font-size: 24px;
			}
		}
	}
	.license__link {
		@include mlg() {
			font-size: 25px;
			line-height: 1.48;
		}
		@include msm() {
			font-size: 18px;
			margin-top: 10px;
		}
	}
	@include msm() {
		margin-top: 30px;
	}
}