.content {
	font-size: 18px;
	line-height: 1.6666;
	@include mlg() {
		font-size: 32px;
		line-height: 1.625;
	}
	@include msm() {
		font-size: 18px;
		line-height: 1.6666;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		// margin-bottom: 24px;
	}
	& > div {
		margin-bottom: 38px;
	}
	.content-advantages {
		margin-bottom: 20px;
	}
	& > .row {
		margin-bottom: 0;
	}
	p {
		font-size: 16px;
		line-height: 1.625;
		margin-bottom: 38px;
		strong {
			font-size: 16px;
			@include mlg() {
				font-size: 28px;
			}
			@include msm() {
				font-size: 16px;
			}
		}
		@include mlg() {
			font-size: 28px;
			margin-bottom: 45px;
		}
		@include msm() {
			font-size: 16px;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font;
	color: #212528;
	font-weight: 400;
	margin-bottom: 24px;
}
h1 {
	font-size: 44px;
	line-height: 1.2727;
	@include mlg() {
		font-size: 60px;
		line-height: 1.26;
	}
	@include msm() {
		font-size: 44px;
		line-height: 1.2727;
	}
	@media only screen and (max-width: 450px) {
		font-size: 32px;
	}
}
h2 {
	font-size: 42px;
	line-height: 1.333333333333333;
	@include mlg() {
		font-size: 60px;
		line-height: 1.26;
	}
	@include msm() {
		font-size: 42px;
		line-height: 1.333333333333333;
	}
	@media only screen and (max-width: 450px) {
		font-size: 28px;
	}
}
h3 {
	font-size: 24px;
	line-height: 1.416;
	@include mlg() {
		font-size: 40px;
		line-height: 1.36;
	}
	@include msm() {
		font-size: 24px;
		line-height: 1.416;
	}
	@media only screen and (max-width: 450px) {
		font-size: 20px;
	}
}
h4 {
	font-size: 24px;
	line-height: 1.416;
	font-weight: 500;
	@include mlg() {
		font-size: 40px;
		line-height: 1.36;
	}
	@include msm() {
		font-size: 24px;
		line-height: 1.416;
	}
	@media only screen and (max-width: 450px) {
		font-size: 20px;
	}
}
h5 {
	font-size: 20px;
	line-height: 1.3;
}

strong {
	font-weight: 500;
	color: #212528;
}