.content-advantages {
	margin: 0;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		@include mlg() {
			font-size: 40px;
		}
		@include msm() {
			font-size: 24px;
		}
	}
}
.content-advantages__name {
	display: block;
	font-weight: 500;
	font-size: 10.29px;
	line-height: 1;
	margin-bottom: 10px;
	color: #818597;
	text-transform: uppercase;
	@include mlg() {
		font-size: 20px;
	}
	@include msm() {
		font-size: 14px;
	}
}