.faq {
	padding: 120px 0 250px;

	background: #eef2f8; /* Old browsers */
	background: -moz-linear-gradient(top, #eef2f8 0%, #f0f5f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eef2f8 0%,#f0f5f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eef2f8 0%,#f0f5f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f8', endColorstr='#f0f5f9',GradientType=0 ); /* IE6-9 */
	@include msm() {
		padding: 60px 0 125px;
	}
}
.faq__column {

}
.faq__title {
	margin-bottom: 80px;
	& > * {
		@include mlg() {
			display: none;
		}
	}
	h2 {
		@include mlg() {
			display: block;
		}
	}
}

.faq__questions {
	margin-top: 100px;
	text-align: center;
	@include lg() {
		display: none;
	}
	@include msm() {
		margin-top: 30px;
	}
	& > * {
		margin-bottom: 50px;
		@include msm() {
			margin-bottom: 25px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}