.footer-nav {
	// border-bottom: 1px solid #d1d4de;
	@include mlg() {
		position: relative;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			border-top: 1px solid #d1d4de;
		}
		&:only-child {
			&:before {
			}
			&:after {
				display: none;
			}
		}
		&:last-child {
			&:after {
				content: '';

				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

				border-top: 1px solid #d1d4de;
			}
		}
	}
	h6 {
		font-size: 14px;
		line-height: 1.5;
		font-weight: 700;
		color: #818597;
		letter-spacing: 1px;
		text-transform: uppercase;

		margin-bottom: 25px;
		@include mlg() {
			padding-top: 40px;
			padding-bottom: 40px;
			// border-top: 1px solid #d1d4de;
			margin: 0;
			padding-right: 20px;

			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;

			font-size: 22px;
			font-weight: 700;
			color: #818597;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}
		@include msm() {
			padding-top: 20px;
			padding-bottom: 20px;

			font-size: 18px;
		}
		.svg-icon {
			font-size: 20px;
			color: #aeb1b9;
			@include lg() {
				display: none;
			}
			@include msm() {
				font-size: 16px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	ul {
		@include lg() {
			display: block !important;
		}
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 5px 0;
			@include mlg() {
				margin-bottom: 15px;
			}
			&:first-child {
				@include mlg() {
					padding-top: 20px;
				}
				@include msm() {
					padding-top: 10px;
				}
			}
			&:last-child {
				@include mlg() {
					padding-bottom: 60px;
				}
				@include msm() {
					padding-bottom: 30px;
				}
			}
			@include msm() {
				margin-bottom: 5px;
			}
			a {
				display: block;
				font-size: 14px;
				line-height: 1.2;
				color: #858892;
				transition: linear .1s;
				@include mlg() {
					font-size: 28px;
					line-height: 1.4;
				}
				@include msm() {
					font-size: 20px;
				}
				&:hover {
					text-decoration: none;
					transform: translate(-10px, 0);
				}
			}
		}
	}
}