.footer {
	padding: 73px 0 53px;
	
	background: #eef2f8; /* Old browsers */
	background: -moz-linear-gradient(top, #eef2f8 0%, #f0f5f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eef2f8 0%,#f0f5f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eef2f8 0%,#f0f5f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f8', endColorstr='#f0f5f9',GradientType=0 ); /* IE6-9 */
}
.footer__container {
	@include msm() {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.footer__head {
	margin-bottom: 45px;
	@include msm() {
		margin-bottom: 0;
	}
}
.footer__column {

	margin-bottom: 15px;
	@include mlg() {
		margin-bottom: 0;
		position: relative;
	}
	@include lg() {
		width: 100%;
	}
	@include msm() {
		margin-bottom: 25px;
	}
	&_type_one {
		@include xl() {
			max-width: 32%;
			flex: 0 0 32%;
		}
		@include lg() {
			max-width: 38%;
			flex: 0 0 38%;
		}
		@include mlg() {
			margin: 0;
			order: 3;
			.footer-nav {
				&:before, &:after {
					left: 15px;
					right: 15px;
					width: auto;
				}
			}
		}
	}
	&_type_two {
		@include xl() {
			max-width: 17.5%;
			flex: 0 0 17.5%;
		}
		@include lg() {
			max-width: 25%;
			flex: 0 0 25%;
		}
		@include mlg() {
			order: 2;
			.link_email {
				font-size: 54px;
			}
		}
		@include msm() {
			margin-bottom: 0;
			.link_email {
				font-size: 30px;
			}
		}
	}
	&_type_three {
		@include xl() {
			max-width: 29%;
			flex: 0 0 29%;
			
		}
		@include lg() {
			max-width: 37%;
			flex: 0 0 37%
		}
		@include mlg() {
			order: 1;
			margin-bottom: 70px;
		}
	}
	.phone {
		text-align: center;
	}
	.phone__link {
		span {
			@include mlg() {
				display: block;
				font-size: 60px;
			}
			@include msm() {
				font-size: 30px;
			}
		}
	}
	.phone__icon {
		@include mlg() {
			font-size: 60px;
			margin-bottom: 50px;
			margin-right: 0;
		}
		@include msm() {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}
	.phone__text {
		@include mlg() {
			padding-left: 0;
			font-size: 28px;
		}
		@include msm() {
			font-size: 20px;
		}
	}
}
.footer__logo {
	font-size: 24px;
	font-weight: 500;
	@include mlg() {
		display: none;
	}
	img {
		width: 70px;
		margin-right: 40px;
		@include mxl() {
			width: 50px;
			margin-right: 20px;
		}
	}
	&:hover {
		text-decoration: none;
	}
}

.footer__social {
	margin-bottom: 45px;
	@include msm() {
		margin-bottom: 25px;
	}
}



.footer__social-wrap {

}
.footer__social-title {
	font-weight: 700;
	color: #818597;
	font-size: 22px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-bottom: 40px;
	@include lg() {
		display: none;
	}
}
.footer__license {
	margin-bottom: 90px;
	@include msm() {
		margin-bottom: 30px;
	}
	@media only screen and (max-width: 575px) {
		text-align: center;
	}
	img {
		@include mlg() {
			width: 190px;
		}
		@include msm() {
			width: 130px;
		}
		@media only screen and (max-width: 575px) {
			margin: 0;
		}
	}
	.license__content {
		@include mlg() {
			// width: 250px;
		}
		p {
			@include mlg() {
				font-size: 32px;
				margin-bottom: 30px;
			}
			@include msm() {
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}
	.license__link {
		@include mlg() {
			font-size: 32px;
			color: #858892;
		}
		@include msm() {
			font-size: 18px;
		}
	}
}