.form-control {
	border: 1.5px solid #d6d9e5;
	padding: 17px 30px;
	height: auto;

	font-size: 16px;
	line-height: 1;
	color: #212528;

	border-radius: 5px;
	background-color: #fff;
	@include mlg() {
		padding: 37px 35px 36px;
		font-size: 32px;
	}
	@include msm() {
		padding: 17px 30px;
		font-size: 16px;
	}
	@include iph() {
		font-size: 16px;
		line-height: 1;
		color: #aeb1b9;
		@include mlg() {
			font-size: 32px;
		}
		@include msm() {
			font-size: 16px;
		}
	}
	&:hover, &:focus {
		outline: none;
		box-shadow: none;
		border-color: #d6d9e5;
	}
	&_error {
		border-color: #dc342d;
	}
}
input[type="tel"] {
	@include iph() {
		color: #212528;
	}
}
