.form-group {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 30px;
	@include mlg() {
		padding-bottom: 40px;
		margin-bottom: 25px;
	}
	@include msm() {
		padding-bottom: 30px;
		margin-bottom: 15px;
	}
	&_mailing {
		position: relative;
		padding-bottom: 0;
		.svg-icon {
			position: absolute;
			top: 26px;
			right: 24px;
			margin-top: -12px;

			font-size: 30px;
			color: #d1d4de;
			transition: linear .1s;
			@include mlg() {
				font-size: 60px;
				right: 40px;
				top: 46px;
			}
			@include msm() {
				font-size: 30px;
				top: 26px;
				right: 24px;
				margin-top: -12px;
			}
		}
		.form-group__alert {
			bottom: auto;
			top: 100%;
		}
		.form-control {
			border: 1.5px solid #d6d9e5;
			padding: 17px 30px;
			height: auto;

			font-size: 16px;
			line-height: 1;
			color: #212528;

			border-radius: 5px;
			background-color: #fff;
			@include iph() {
				font-size: 16px;
				line-height: 1;
				color: #aeb1b9;
				@include msm() {
					font-size: 16px;
				}
			}
			@include mlg() {
				padding-top: 47px;
				padding-bottom: 47px;
				padding-left: 40px;
				padding-right: 100px;
				font-size: 32px;
				@include iph() {
					font-size: 32px;
				}
			}
			@include msm() {
				padding: 17px 30px;
				font-size: 16px;
			}
		}
		.button {
			width: 100%;
			margin-top: 30px;
		}
		&:hover {
			.svg-icon {
				animation-name: pulse;
				@include animated();
				color: #ffc119;
			}
		}
	}
	input.error {
		border-color: #dc342d !important;
		background-color: #fff !important;
		color: #212528 !important;
	}
	label.error {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 !important;
		padding: 8px 0 !important;
		font-size: 12px;
		line-height: 1;
		font-weight: 300;
		color: #dc342d !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		@include mlg() {
			font-size: 16px;
		}
		@include msm() {
			font-size: 12px;
		}

	}
}
.form-group__label {
	background-color: #fff;
	padding: 2px 13px;
	display: inline-block;
	
	position: absolute;
	top: 0;
	left: 18px;
	transform: translate(0, -50%);
	z-index: 2;

	font-size: 12px;
	line-height: 1;
	font-weight: 300;
	color: #4d5d73;
	@include mlg() {
		font-size: 24px;
	}
	@include msm() {
		font-size: 12px;
	}
}
.form-group__alert {
	position: absolute;
	bottom: 0;
	left: 0;
}