.header {
	padding: 53px 0 70px;
	width: 100%;
	@include lg() {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 111;
		padding: 40px 0 40px;
		width: 100%;
	}
	@include msm() {
		padding: 20px 0;
	}
	&_fixed {
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(#fff, .9);
		border-bottom: 1px solid transparent;
		padding: 10px 0;
		border-bottom-color: rgba(#000, .2);
		transition: linear .1s;
		.header__logo {
			img {
				width: 45px;
			}
		}
		.header__login {
			padding: 15px 25px;
		}
	}
	& + .wrapper__content {
		.offer__in {
			@include lg() {
				padding-top: 160px;
			}
		}
		.quiz-section {
			@include lg() {
				padding-top: 160px;
			}
		}
	}
}
.header__logo {
	@include xl() {
		margin-right: 120px;
	}
	@include mlg() {
		order: 2;
		margin-left: auto;
		margin-right: auto;
	}
	@include mlg() {
		img {
			width: 75px;
		}
	}
	@include msm() {
		img {
			width: 50px;
		}
	}

}
.header__phone {
	@include mlg() {
		.phone__link {
			span {
				display: none;
			}
		}
		.phone__text {
			display: none;
		}
		.phone__icon {
			font-size: 55px;
			margin: 0;
		}
	}
	@include mlg() {
		order: 3;
	}
	@include msm() {
		.phone__icon {
			font-size: 35px;
			margin: 0;
		}
	}
}
.header__button {
	@include mlg() {
		order: 1;
		.svg-icon {
			font-size: 50px;
			color: #818597;
		}
	}
	@include msm() {
		.svg-icon {
			font-size: 30px;
		}
	}
}
.header__menu {
	@include xl() {
		margin-right: 40px;
	}
}
.header__login {

}

