.help-to-choose {
	position: relative;
	@include mlg() {
		text-align: center;
	}
}
.help-to-choose__container {
	@include xl() {
		margin-top: -50px;
	}
}
.help-to-choose__cluods {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
}
.help-to-choose__content {
	padding-bottom: 35px;
}
.help-to-choose__column-img {
	position: relative;
	width: 113%;
	margin-left: -75px;
}
.help-to-choose__sertificate {
	padding-top: 0;
	@include mlg() {
		position: relative;
		background: transparent;
		padding-bottom: 200px;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: -45px;
			right: -45px;
			bottom: 0;

			background-image: -moz-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
			background-image: -webkit-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
			background-image: -ms-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
		}
	}
	@include msm() {
		padding-bottom: 100px;
	}
	.result-courses__row {
		margin-bottom: 0;
	}
	.result-courses__column {
		&_content {
			display: block;
		}
	}
	.result-courses__content {
		min-height: 670px;
		@include mxl() {
			min-height: 520px;
		}
		@include mlg() {
			min-height: auto;
			p {
				font-size: 32px;
			}
		}
		@include msm() {
			p {
				font-size: 18px;
			}
		}
	}
	.result-courses__content-in {
		margin-top: 90px;
		@include mlg() {
			margin-top: 0;
			text-align: left;
		}
	}
	.result-courses__row {
		&:before {
			width: 74%;
		}
	}
	.license {
		img {
			@include mlg() {
				width: 190px;
			}
		}
		p {
			@include mlg() {
				margin-bottom: 10px;
			}
			@include msm() {
				strong {
					font-size: 28px;
				}
			}
		}
	}
	.license__link {
		@include mlg() {
			font-size: 28px;
		}
		@include msm() {
			font-size: 20px;
		}
	}
}
.help-to-choose__sticker {
	@include lg() {
		display: none;
	}
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	z-index: 5;
	@include msm() {
		width: 200px;
		height: 200px;
	}
}