.icon-text {
	display: flex;
	flex-wrap: nowrap;
	color: #9597a3;

	font-size: 14px;
	line-height: 1.714;
	&_theme_two {
		font-size: 16px;
		line-height: 1.625;
		color: #858892;
		@include mlg() {
			font-size: 32px;
		}
		@include msm() {
			font-size: 20px;
		}
		.icon-text__icon {
			color: #eef0f7;
		}
	}
}
.icon-text__icon {
	margin-right: 15px;
	color: $document-color;
	transition: ease .1s;
}
.icon-text__text {
}