.lazy-box {
	position: relative;
	&:after {
		content: '';
		display: block;
		width: 100%;
	}
}
.lazy-box-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

@keyframes scaleout {
	0% {
		transform: scale(0); 
	}

	100% {
		transform: scale(1);
		opacity: 0; 
	} 
}

.lazy-loading:before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	animation: scaleout 1.2s infinite ease-in-out;


	mix-blend-mode: soft-light;
	background-color: rgba(0, 0, 0, .9); 
}

.lazyload,
.lazy-lazyloading {
	opacity: 0; 
}

.lazy-loading,
.lazyload,
.lazyloaded,
.lazy-box {
	opacity: 1;
	transition: linear .2s;
}


@keyframes scaleout {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.lazy-loading {
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		margin-top: -16px;
		margin-left: -16px;
		width: 32px;
		height: 32px;
		border-radius: 32px;
		animation: scaleout 1.2s infinite ease-in-out;

		mix-blend-mode: soft-light;
		background-color: #fc0000;
	}
}