.learn-steps {
	padding-top: 60px;
}
.learn-steps__title {
	@include mlg() {
		margin-bottom: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}

.learn-steps__nav {
	position: relative;
	z-index: 2;
	@include mlg() {
		display: none;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0;
		margin: 0;

		list-style: none;
		counter-reset: count;
		li {
			position: relative;

			min-height: 70px;

			font-size: 10px;
			font-weight: 500;
			text-transform: uppercase;
			color: #818597;

			cursor: pointer;
			transition: linear .2s;
			&:before {
				content: counter(count);
				counter-increment: count;

				display: inline-flex;
				vertical-align: middle;
				justify-content: center;
				align-items: center;
				border: 2px solid rgb(205, 208, 221);
				margin-right: 15px;

				width: 40px;
				height: 40px;

				font-size: 16px;
				line-height: 1;

				transition: linear .1s;
				border-radius: 50%;
			}
			&:after {
				content: '';

				position: absolute;
				bottom: -5px;
				left: 0;
				width: 100%;

				border: 4px solid rgb(233, 239, 246);

				border-radius: 4px;
				transition: linear .3s;
				transform: scale(.5, .5);
				opacity: 0;
				visibility: hidden;
			}
			&.active {
				color: #212528;
				&:before {
					background-color: #ebf0f7;
					border-color: #ebf0f7;
				}
				&:after {
					transform: scale(1, 1);
					opacity: 1;
					visibility: visible;
				}
			}
			&:hover {
				&:before {
					transform: scale(1.2, 1.2);
				}
			}
		}
	}
}
.learn-steps__box {
	@include lg() {
		border: 5px solid #eef3f9;
		border-bottom: none;
		border-radius: 10px 10px 0 0;
		padding: 30px 20px 0;
		
	}
}
.learn-steps__slider {
	@include lg() {
		position: relative;
		z-index: 1;
		border: 2px solid #eef3f9;
		border-bottom: none;
		border-radius: 5px 5px 0 0;
	}
	@include mlg() {
		display: block !important;
		padding: 100px 65px 130px;
		width: 550px;
		margin-left: auto;
		margin-right: auto;
		counter-reset: countSlide;
	}
	@include msm() {
		width: auto;
		padding-top: 30px;
		padding-bottom: 40px;
		padding-right: 0;
	}
	@media only screen and (max-width: 450px) {
		padding-left: 35px;
	}
	.owl-stage {
		@include lg() {
			counter-reset: countSlide;
		}
	}
	.owl-item {
		display: flex;
		flex-direction: column;
		img {
			@include mlg() {
				display: none !important;
			}
		}
	}
}
.learn-steps__column {
}
.learn-steps__item {
	@include lg() {
		padding: 44px 60px;
		min-height: 490px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@include mlg() {
		position: relative;
		padding-bottom: 90px;
		margin-bottom: 0;
		// &:before {
		// 	content: '';

		// 	position: absolute;
		// 	left: -60px;
		// 	top: 0;
		// 	bottom: 0;

		// 	border-left: 1px solid #d1d4de;
		// }
		&:before {
			content: '';

			position: absolute;
			top: 80px;
			left: -65px;

			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #d1d4de;
			@media only screen and (max-width: 450px) {
				left: -35px;
			}
		}
		&:after {
			content: '';

			position: absolute;
			left: -60px;
			top: 120px;
			bottom: -50px;

			border-left: 1px solid #d1d4de;
			@media only screen and (max-width: 450px) {
				left: -30px;
			}
		}
		.content > h3 {
			// position: relative;
		}
	}
	&:last-child {
		@include mlg() {
			padding-bottom: 0;
		}
		&:before {
			@include mlg() {
				// display: none;
			}
		}
		&:after {
			@include mlg() {
				display: none;
			}
		}
	}
}
.learn-steps__img {
	position: relative;
	display: inline-block;
	min-width: 334px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: -10%;
		width: 334px;
		height: 283px;

		background: url('../images/cloud.svg') 50% 50% no-repeat;
		background-size: contain;
		@include mlg() {
			display: none;
		}
	}
	&:after {
		@include lg() {
			content: '0' counter(countSlide);
			counter-increment: countSlide;
			position: absolute;
			left: 100%;
			top: 40px;

			margin-left: -30px;
			font-size: 170px;
			line-height: 1;
			color: #fff;

			text-shadow: 3px 3px 0 #f3f7fb,
						-3px -3px 0 #f3f7fb,
						3px -3px 0 #f3f7fb,
						-3px  3px 0 #f3f7fb,
						3px  3px 0 #f3f7fb;
		}
		@include mlg() {
			content: 'Шаг ' counter(countSlide);
			counter-increment: countSlide;
			display: inline-block;

			font-size: 20px;
			line-height: 2;
			font-weight: 500;
			color: #818597;
			letter-spacing: 1.5px;
			margin-bottom: 10px;
		}
	}
	img {
		display: inline-block !important;
		width: auto !important;
		max-width: 391px;
		margin-top: 70px;
		position: relative;
		z-index: 2;
		@include mlg() {
			display: none !important;
		}
	}
	&_size_first {
		img {
			max-width: 235px;
		}
	}
	&_size_fourth {
		img {
			max-width: 290px;
		}
	}
}
