.license {
	@media only screen and (max-width: 575px) {
		text-align: center;
	}
	p {
		margin-bottom: 0;
		line-height: 1.5625;
		margin-bottom: 2px;
	}
	img {
		width: 98px;
		margin-right: 25px;
		@media only screen and (max-width: 575px) {
			margin: 0 0 10px;
		}
	}
}
.license__content {
	margin-bottom: 10px;
	@include mlg() {
		width: 250px;
	}
	strong {
		@include msm() {
			// font-size: 24px !important;
		}
	}
}
.license__link {
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	color: #818597;
	border-bottom: 1px solid #dadde7;
	padding-bottom: 5px;
	@include msm() {
		// font-size: 18px !important;
	}
	&:hover {
		text-decoration: none;
		animation-name: heartBeat;
		@include animated();
	}
}