.link {
	color: #858892;
	display: inline-block;
	&_font_size_14 {
		font-size: 14px;
		line-height: 1.71;
	}
	&_color_grey {
		color: #818597;
	}
	&_border_bottom {
		border-bottom: 1px solid #dee0e8;
	}
	&_email {
		padding-bottom: 8px;
		border-bottom: 2px solid #cdd0dd;

		font-size: 24px;
		line-height: 1.25;
		color: #212528;
		transition: linear .3s;

		&:hover {
			text-decoration: none;
			color: #212528;
			border-bottom-color: #212528;

			animation-name: pulse;
			animation-duration: .5s;
		}
	}
	&_circle {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 38px;
		height: 38px;

		font-size: 16.7px;
		line-height: 1;
		font-weight: 500;
		color: rgba(#282828, .3);

		background-color: #f2f4f8;
		border-radius: 50%;

		transition: lineaar .2s;
		&:hover {
			text-decoration: none;
			color: rgba(#282828, .7);
		}
	}
}
