.mailing {
	padding: 40px 0 30px;
}
.mailing__container {
	@include msm() {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.mailing__head {
	padding-bottom: 10px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		border-bottom: 1px solid #e0e3ec;
		@include mlg() {
			display: none;
		}
	}
}
.mailing__column {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 40px;
	@include lg() {
		width: 100%;
		margin-bottom: 15px;
	}
	@include mlg() {
		&:nth-child {
			margin-bottom: 0;
		}
	}
	@include msm() {
		margin-bottom: 20px;
	}
	&_type_one {
		@include lg() {
			max-width: 15%;
			flex: 0 0 15%;
		}
		@include xl() {
			max-width: 19.5%;
			flex: 0 0 19.5%;
		}
	}
	&_type_two {
		@include lg() {
			width: auto;
			flex: 1 1 auto;
		}
		@include xl() {
			max-width: 50.4%;
			flex: 0 0 50.4%;
		}
	}
	&_type_three {
		@include lg() {
			max-width: 35%;
			flex: 0 0 35%;
		}
		@include xl() {
			max-width: 28.75%;
			flex: 0 0 28.75%;
		}
	}
}
.mailing__title {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		@include mlg() {
			font-size: 44px;
			margin-bottom: 10px;
		}
		@include msm() {
			font-size: 24px;
		}
	}
}
.mailing__txt {
	color: #212528;
	font-size: 14px;
	line-height: 1.71;
	@include mlg() {
		font-size: 28px;
		line-height: 1.68;
		color: #858892;
		margin-bottom: 20px;
	}
	@include msm() {
		font-size: 20px;
		line-height: 1.3;
	}
}
.mailing__tech {
	padding-top: 25px;

	font-size: 14px;
	line-height: 1.71;
	@include mlg() {
		font-size: 28px;
		line-height: 1.64;
	}
	@include msm() {
		font-size: 20px;
	}
}
.mailing__about {
	text-transform: uppercase;
}
.mailing__license {
	.license__link {
		&:hover {
			animation-name: flash;
		}
	}
}

.mailing__checkbox {
	@include lg() {
		display: none !important;
	}
	.button {
		width: 100%;
		margin-top: 15px;
	}
	.checkbox__label-in {
		font-size: 24px;
		line-height: 1.58;
		@include msm() {
			font-size: 18px;
		}
	}
}

.mailing__license  {
	// margin-bottom: 25px;
	.license__link {
		@include mlg() {
			font-size: 28px;
			line-height: 1.64;
		}
		@include msm() {
			font-size: 20px;
		}
	}
	@include msm() {
		
	}
}