.menu {
	@include mlg() {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transform: translate(-100%, 0);
		z-index: 99999;

		width: 100%;
		height: 100%;
		
		opacity: 0;
		visibility: hidden;

		display: flex;
		flex-direction: column;

		transition: linear .2s;
		background-color: rgba(#000, .5);
		order: 13;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}
.menu__in {
	@include mlg() {
		width: 280px;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		padding: 50px 15px 20px;

		background-color: #fff;
	}
}
.menu__in-scroll {
	@include mlg() {
		overflow-y: auto;
		flex: 1 1 auto;
	}
}
.menu__close {

}
.menu__nav {
	@include mlg() {
		display: block !important;
	}
}

.menu__phone {
	margin: 10px 0;
}
.menu__login {
	@include mlg() {
		padding-top: 23px;
		padding-bottom: 23px;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 18px;
		width: 100%;
	}
}