.menu-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	& > li {
		padding-left: 15px;
		padding-right: 15px;
		& > a, .nav-link {
			position: relative;
			padding: 10px 0;

			color: #212528;
			font-size: 16px;
			line-height: 1.5625;
			font-weight: 500;

			border-radius: 0;
			transition: linear .1s;
			@include mlg() {
				font-size: 25px;
				display: block;
			}
			&:after {
				content: '';

				position: absolute;
				top: 100%;
				left: 0;

				width: 100%;
				border-bottom: 2px solid #ffc119;

				opacity: 0;
				visibility: hidden;

				transition: linear .2s;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
			&:hover {
				@include lg() {
					transform: translate(0, -5px);
				}
			}
			&.active {
				background-color: transparent;
				color: #212528;
				&:after {
					margin-top: -7px;

					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.menu-nav__dropdown {
	@include mlg() {
		display: block;
	}
	.dropdown__toggle {

	}
	.dropdown__caret-angle {
		@include mlg() {
			display: none;
		}
	}
	.dropdown__menu {
		li {
			a {
				padding: 0;
				font-size: 20px;
			}
		}
		@include mlg() {
			display: block;
			background-color: transparent;
			border: none;
			padding: 0;

			opacity: 1;
			visibility: visible;
			position: static;
		}
	}
}