.offer-advantage {
	display: flex;
	flex-direction: column;

	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 51px 0px rgb(227, 227, 241);
	@include mlg() {
		box-shadow: none;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 5px;
		@include mlg() {
			font-size: 60px;
		}
		@include msm() {
			font-size: 42px;
			line-height: 1.333333333333333;
		}
	}
	span {
		margin: 0;
	}
	div {
		margin: 0;
	}
	.content-advantages__name {
		@include mlg() {
			font-size: 20px;
		}
		@include msm() {
			font-size: 14px;
		}
	}
}
.offer-advantage__in {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 155px;
	padding: 10px 15px;
	@include msm() {
		min-height: 100px;
	}
}