.offer {
	display: flex;
	flex-direction: column;

	background-image: -moz-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
	background-image: -webkit-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
	background-image: -ms-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
	@include lg() {
	}
	@include mlg() {
		position: relative;
		z-index: 2;
		background: transparent;
		text-align: center;
	}
}
.offer__in {
	display: flex;
	flex-direction: column;
	transition: ease .1s;
	@include lg() {
		min-height: 600px;
		padding-top: 160px;
		padding-bottom: 100px;
	}
	@include mmd() {
		min-height: 400px;
	}
}
.offer__clouds {
	position: absolute;
	top: 0;
	right: 0;

	width: 60%;
	@include mlg() {
		display: none;
	}
}
.offer__img {
	width: 381px;
	// height: 355px;
	// margin-top: 22px;
	@include mlg() {
		width: 100%;
	}
}
#offer-img {
	// opacity: 0;
	// visibility: hidden;

	transition: linear .2s;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}

.offer__container {
}
.offer__column {
	margin-bottom: 30px;
	@include lg() {
		padding-top: 50px;
	}
	&_img {
		@include lg() {
			padding-top: 0;
		}
		@include mlg() {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	// .content {
	// 	h1, & > div, .button {
	// 		-webkit-filter: blur(12px);
	// 		filter: blur(12px);
	// 		opacity: 0;
	// 		// animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	// 		// animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	// 	}
	// }
	.content {
		& > div {
			min-height: 58px;
		}
	}
	.typed-cursor {
		display: none;
	}
}

.offer__hidden {
	// display: none;
}