.partners {
	padding-bottom: 85px;
	@include mlg() {
		padding-top: 240px;
	}
	@include msm() {
		padding-top: 100px;
	}
}
.partners__title {
	transform: rotate(-90deg);
	@include mlg() {
		display: none;
	}
	div {
		display: block;
		font-weight: 500;
		color: #d3dbe6;
		font-size: 105px;
		// line-height: 1.82;
		line-height: 1;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}

.partners__column {
	// margin-bottom: 15px;
	text-align: center;
	&:first-child {
		@include mlg() {
			padding: 0;
		}
	}
	@include mlg() {
		padding: 45px 0;
	}
	img {
		width: 200px;
		@include lg() {
			width: 120px;
		}
	}
}
.partners__mobile-title {
	margin-bottom: 70px;
	@include lg() {
		display: none;
	}
	@include msm() {
		margin-bottom: 30px;
	}
	h2 {
		@include msm() {
			margin-bottom: 20px;
		}
	}
}