.phone {
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	&:hover {
		.svg-icon {
			animation-name: heartBeat;
			animation-duration: 1.5s;
		}
	}
	&_bigger {
		font-size: 14px;
		.phone__link {
			font-size: 24px;
		}
		.phone__icon {
			font-size: 26px;
			margin-right: 35px;
		}
		.phone__text {
			padding-left: 60px;
		}
	}
}
.phone__icon {
	font-size: 16px;
	margin-right: 18px;
	color: $document-color;
}
.phone__text-wrap {

}
.phone__link {
	font-size: 18px;
	font-weight: 500;
	color: #212528;
	transition: linear .1s;
	&:hover {
		text-decoration: none;
		color: #212528;
		.phone__icon {
			color: #ffc119;
		}
	}
}
.phone__text {
	margin-top: 10px;
}