.play-button {
	padding: 0;
	border: none;
	background-color: transparent;
	
	width: 210px;
	height: 210px;
	img {
		transition: linear .1s;
	}
	// &:hover {
	// 	img {
	// 		transform: scale(1.1, 1.1);
	// 	}
	// }
}