.program-card {
	display: inline-flex;
	flex-direction: column;
	width: 377px;

	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 36px 0px rgba(210, 222, 234, 0.51);
	overflow: hidden;
	transition: linear .2s;
	@include mlg() {
		width: 602px;
	}
	@include msm() {
		width: 100%;
	}
	&:hover {
		text-decoration: none;
		box-shadow: 0px 0px 36px 3px rgba(210, 222, 234, .8);
		.program-card__img {
			transform: scale(.9, .9);
		}
	}
	.icon-text__icon {
		@include mlg() {
			font-size: 40px;
		}
		@include msm() {
			font-size: 25px;
		}
	}
	.icon-text__text {
		@include mlg() {
			font-size: 27.22px;
			line-height: 1.7;
		}
		@include msm() {
			font-size: 16px;
		}
	}
}
.program-card__in {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 485px;

	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: contain;
	@include mlg() {
		min-height: 760px;
	}
	@include msm() {
		min-height: 485px;
	}
	&:before {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 2;

		background: url('../images/shadow-for-programs.png') 50% 0 no-repeat;
		background-size: cover;
	}
}

.program-card__content {
	padding: 20px 40px 30px;
	position: relative;
	z-index: 3;
	@media only screen and (max-width: 450px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.program-card__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	transition: linear .2s;
	padding: 30px 20px;
	img {
		width: 100%;
	}
	&_type_two {
		padding-top: 0;
		top: -25px;
	}
}