.programs {
	padding-bottom: 200px;
	position: relative;

	background: #eef2f8; /* Old browsers */
	background: -moz-linear-gradient(top, #eef2f8 0%, #f0f5f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eef2f8 0%,#f0f5f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eef2f8 0%,#f0f5f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f8', endColorstr='#f0f5f9',GradientType=0 ); /* IE6-9 */
	@include msm() {
		padding-bottom: 70px;
	}
	.container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.programs__cluods {
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
}