.quize-menu-item {
	position: relative;
	display: inline-block;
	// &:hover {
	// 	.svg-icon, .quize-menu-item__text {
	// 		color: #212528;
	// 	}
	// }
}
.quize-menu-item__img {
	position: relative;
	display: inline-block;
	margin-bottom: 25px;
	&:before {
		content: '';

		position: absolute;
		bottom: 0;
		left: 100%;
		z-index: 1;
		
		margin-left: -20px;
		margin-bottom: -10px;

		width: 45px;
		height: 45px;

		border-radius: 50%;
		background-color: #ffdc19;
	}
	img {
		position: relative;
		z-index: 2;
	}
}
.quize-menu-item__text {
	font-size: 10px;
	line-height: 2.4;
	font-weight: 500;
	color: #818597;
	text-transform: uppercase;
	transition: linear .1s;
}
.quize-menu-item__icon {
	position: relative;
	z-index: 2;

	font-size: 58px;
	color: #818597;
	transition: linear .1s;
}