.quiz-section {
	padding-left: 15px;
	padding-right: 15px;
	@include msm() {
		padding-left: 5px;
		padding-right: 5px;
	}
	@include lg() {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.quiz {
	padding-bottom: 300px;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	// overflow: hidden;

	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: -8.545px 29.799px 125px 0px rgba(87, 84, 115, 0.35);
	@include mlg() {
		box-shadow: none;
		border-radius: 0;
	}
	@include msm() {
		padding-left: 0;
		padding-right: 0;
	}
	.checkbox_radio {
		padding: 20px 0;
		border-bottom: 1px solid #d9dadf;
		.checkbox__label-in {
			color: #212528;
		}
		& + *:not(.checkbox_radio) {
			margin-top: 50px;
		}
	}
}
.quiz__row {

}
.quiz__container {
	overflow: hidden;
}
.quiz__step-title {
	@include mlg() {
		text-align: center;
	}
	.quize-menu-item {
		margin: 0;
		@include lg() {
			display: none;
		}
	}
	.quize-menu-item__img {
		&:before {
			width: 90px;
			height: 90px;
			margin-left: -60px;
			margin-bottom: -20px;
			@include msm() {
				width: 45px;
				height: 45px;
				margin-left: -20px;
				margin-bottom: -10px;
			}
		}
	}
	.svg-icon {
		font-size: 106px;
		color: #222222;
		@include msm() {
			font-size: 58px;
		}
	}
	h2 {
		margin-bottom: 10px;
	}
}
.quiz-step__content {
	padding-top: 20px;
	border-top: 1px solid #d9dadf;
	color: #212528;
	@include mlg() {
		font-size: 32px;
	}
	p {
		color: #212528;
		@include mlg() {
			font-size: 32px;
		}
	}
}
.quiz__nav {
	width: 100%;

	list-style: none;
	padding: 65px;
	margin: 0;

	background: url('../images/quiz-nav-bg.png') 0 0 no-repeat;
	background-repeat: no-repeat;
	background-size: cover;

	max-width: 23.1%;
	flex: 0 0 23.1%;
	@include mlg() {
		display: none;
	}
	li {
		margin-bottom: 28px;
		cursor: pointer;

		transition: linear .1s;
		&:last-child {
			margin-bottom: 0;
		}
		.quize-menu-item__img {
			&:before {
				opacity: 0;
				visibility: hidden;
			}
		}
		&.active {
			.quize-menu-item__icon, .quize-menu-item__text {
				color: #212528;
			}
			.quize-menu-item__img {
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.quiz__content {
	width: 100%;
	@include lg() {
		max-width: 76.9%;
		flex: 0 0 76.9%;
	}
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
}
.quiz__slider {
	// overflow: hidden;
	@include mlg() {
		display: block !important;
	}
	.owl-stage {
		@include mlg() {

		}
	}
	.owl-item {
		@include mlg() {

		}
		&.active {
			@include mlg() {
				// display: block;
			}
		}
	}
}
.quiz__step {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
	@include lg() {
		max-width: 700px;
	}
}
.quiz__step-in {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 713px;
}
.quiz__link {

}
.quiz__checkbox {
	margin-bottom: 0;
	// padding-bottom: 0;
}

.quiz__buttons {
	// margin-top: 40px;
	& > * {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.quiz__close {
	position: absolute;
	top: 15px;
	right: 15px;
}