.result-courses {
	position: relative;
	padding-top: 40px;
	@include mlg() {
		padding-top: 100px;
		background-image: -moz-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
		background-image: -webkit-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
		background-image: -ms-linear-gradient( -27deg, rgb(232,238,245) 0%, rgb(243,247,251) 100%);
	}
	@include msm() {
		padding-top: 50px;
	}
	.container-fluid {
		@include mlg() {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.license__content {
		@include mlg() {
			width: 250px;
		}
	}
}
.result-courses__title {
	@include mlg() {
		margin-bottom: 20px;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}
	}
}
.result-courses__total {
	margin-top: -90px;
	margin-bottom: 110px;
	@include lg() {
		margin-top: -75px;
	}
	@include mmd() {
		margin-bottom: 40px;
	}
}
.result-courses__title {
	margin-bottom: 55px;
}
.result-courses__row {
	position: relative;
	margin-bottom: 75px;
	@include lg() {
		&:before {
			content: '';

			position: absolute;
			top: 0;
			right: 15px;
			bottom: 0;
			width: 64.5%;
			border: 15px solid #f3f7fb;
		}
	}
	@include msm() {
		margin-bottom: 35px;
	}
}
.result-courses__column {
	&_content {
		display: flex;
		flex-direction: column;
		@include mlg() {
			display: none;
		}
	}
	.video-box {
		@include mlg() {
			display: none;
		}
	}
	.result-courses__results {
		@include mlg() {
			display: block;
			text-align: center;
			.svg-icon {
				display: none;
			}
		}
	}
	.result-courses__puple {
		@include mlg() {
			display: none;
		}
	}
}
.result-courses__content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 570px;
}
.result-courses__content-in {
}

.result-courses__collapse-toggle {
	margin: 20px 0 55px;
}
.result-courses__sertificate {
	position: relative;
	@include xl() {
		left: -80px;
		width: 756px;
	}
}

// .result-courses__item {
// 	@include mlg() {
// 		box-shadow: none;
// 		.offer-advantage__in {
// 			// min-height: 120px;
// 		}
// 	}
// }
.result-courses__puple {
	@include mlg() {
		display: none;
	}
}
