.start-learn {
	position: relative;
	padding-top: 40px;
}
.start-learn__background {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	img {
		width: 100%;
	}
	@media only screen and (min-width: 1500px) {
		margin-bottom: -100px;
	}
}
.start-learn__container {

}
.start-learn__row {

}
.start-learn__column {
	.content {
		@include mlg() {
			text-align: center;
		}
	}
}
.start-learn__content-img {
	padding-top: 45px;
	img {
		position: relative;
		width: 481px;
	}
}
.start-learn__cloud-small {
	position: absolute;
	@include mlg() {
		display: none;
	}
	&_position_first {
		bottom: 100%;
		right: 17%;
	}
	&_position_second {
		right: 33%;
		bottom: 100%;
		margin-bottom: 10px;
	}
	&_position_third {
		top: 0;
		left: 7%;
	}
	&_position_fourth {
		top: 40%;
		left: -50px;
	}
	&_position_fifth {
		bottom: 80px;
		right: -30px;
	}
}
.start-learn__plant {
	position: absolute;
	bottom: 0;
	right: 12%;
	@include mlg() {
		right: -60px;
	}
}