.tabs {

}
.tabs__dropdown {
	display: inline-block;
	position: relative;
	text-align: left;
	@include mlg() {
		margin-bottom: 75px;
	}
	&:hover {
		@include mlg() {
			.tabs__nav {
				opacity: 1;
				visibility: visible;
				animation-name: fadeIn;
				animation-duration: .5s;
			}
		}
	}
}
.tabs__mobile-toggle {
	@include lg() {
		display: none;
	}
}
.tabs__nav {
	justify-content: center;
	border-bottom: 1px solid #e0e3ee;
	border-radius: 10px;
	margin-bottom: 45px;
	@include mlg() {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;

		width: 400px;
		border: 1px solid #e0e3ee;
		margin-top: 20px;
		padding: 20px;

		opacity: 0;
		visibility: hidden;
		background-color: #fff;
		transition: linear .2s;

		display: block;
		li {
			a {
				font-size: 30px;
				padding-bottom: 5px;
				margin-bottom: 10px;
			}
		}
	}
	@include msm() {
		left: 50%;
		margin-left: -200px;
	}
	@media only screen and (max-width: 450px) {
		width: 300px;
		margin-left: -150px;
	}
	li {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: -1px;
		a {
			display: block;
			padding-bottom: 24px;
			border-bottom: 1px solid transparent;
			padding-left: 10px;
			padding-right: 10px;

			font-size: 20px;
			line-height: 1;
			@include msm() {
				font-size: 18px;
			}
			span {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				&:before {
					content: '•';
					display: inline-block;
					vertical-align: middle;
					margin: 0 5px;
				}
			}
			&:hover {
				text-decoration: none;
			}
			&.active {
				color: #000;
				border-bottom-color: #a8adba;
			}
		}
	}
}
.tabs__content {
	// overflow: hidden;
}
.tabs__pane {
	&.active {
		animation-duration: 1s;
		animation-fill-mode: both;
		.tabs__column {
			margin-bottom: 10px;
		}
	}
}
.tabs__row, .tabs__collapse {
	margin-bottom: 40px;
}
.tabs__column {
	margin-bottom: 20px;
	@include mlg() {
		margin-bottom: 30px;
	}
	@media only screen and (max-width: 640px) {
		width: 100%;
	}
}
.tabs__collapse-toggle {
	// margin-top: 50px;
}
.tabs__collapse {
	// transition: linear .2s;
	&.show {
		// padding-bottom: 100px;
	}
}