.total {
	margin-top: -90px;
	margin-bottom: 70px;
	@include lg() {
		margin-top: -75px;
	}
	@include mlg() {
		position: relative;
		z-index: 1;
		margin-bottom: 70px;
	}
	@include mmd() {
		margin-bottom: 40px;
	}
}
.total__container {

}
.total__row {

}
.total__column {

}