.video-slider {
	// margin-left: -20px;
	// margin-right: -20px;
	.owl-stage-outer {
		padding: 30px 0;
	}
	.video-box {
		width: 100%;
		@include mlg() {
			width: 561px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		@include msm() {
			width: 100%;
		}
	}
	.video-box__video-wrap {
		width: 100%;
		@include msm() {
			width: 100%;
		}
	}
	.button {
		@include mlg() {
			padding-left: 29px;
			padding-right: 29px;
			margin-top: 10px;
			width: 100%;
		}
	}
}