.video-box {
	position: relative;
	display: inline-block;

	width: 610px;
	@include mlg() {
		width: 508px;
	}

	&:hover {
		.video-box__poster {
			&:before {
				opacity: 0;
				visibility: hidden;
			}
		}
		.video-box__button {
			animation-name: bounceIn;
			@include animated();
		}
	}
	&_small {
		width: 377px;
		background-color: #fff;
		box-shadow: 0px 0px 51px 0px rgba(227, 227, 241, 1);
		@include mlg() {
			width: 561px;
		}
		@media only screen and (max-width: 639px) {
			width: 100%;
		}
		.video-box__video-wrap {
			width: 377px;
			height: 230px;
			border-radius: 8px 8px 0 0;
			@include mlg() {
				width: 561px;
				height: 366px;
			}
			@media only screen and (max-width: 639px) {
				width: 100%;
			}
			&:hover {
				cursor: pointer;
			}
		}
		&:hover {
			.video-box__poster {
				transform: scale(1.1, 1.1);
			}
		}
	}
}
.video-box__video-wrap {
	position: relative;
	width: 610px;
	height: 390px;
	border-radius: 10px;
	overflow: hidden;
	@include mxl() {
		width: 508px;
		height: 325px;
	}
}
.video-box__video {
	object-fit:cover;
	width: 100%;
	height: 100%;
}
.video-box__poster {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	transition: linear .2s;
	@include msm() {
		background-position: 20% 50%;
	}
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		
		width: 100%;
		height: 100%;
		background: url('../images/shadow-for-video.png') 50% 50% no-repeat;
		background-size: cover;

		transition: linear .2s;
	}
}
.video-box__button {
	position: absolute;
	top: 50%;
	left: 50%;
	// transform: translate(-50%, -50%);
	margin-left: -105px;
	margin-top: -105px;
	z-index: 5;
}
.video-box__poster-title {
	position: absolute;
	top: 90px;
	left: 0;
	z-index: 4;

	width: 100%;
	padding: 30px 40px;
	@include mlg() {
		position: static;
		padding-left: 0;
		padding-right: 0;
	}
	@include msm() {
		padding-bottom: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
		@include mlg() {
			color: #212528;
		}
	}
	.content-advantages__name {
		color: #d1d4de;
		@include mlg() {
			color: #818597;
		}
	}
}

.video-box__description {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding-left: 40px;
	padding-right: 40px;
	@media only screen and (max-width: 450px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.video-box__description-row {
	min-height: 120px;
	align-items: center;
	justify-content: space-between;
}

.video-box__mobile-content {
	padding-bottom: 50px;
	@include lg() {
		display: none;
	}
}