.wizard {
	display: flex;
	flex-wrap: wrap;
	& > .content {
		background-color: #fff;

		width: 100%;
		max-width: 68.9%;
		flex: 0 0 68.9%;
		margin: 0 !important;
		& > .body {
			width: 100%;
			height: auto;
			float: none;
			position: static;
		}
	}
	& > .steps {
		display: block;
		width: 100%;
		max-width: 23.1%;
		flex: 0 0 23.1%;
		padding: 65px;

		background: url('../images/quiz-nav-bg.png') 0 0 no-repeat;
		background-repeat: no-repeat;
		background-size: cover;
		li {
			float: none !important;
			width: auto !important;
			margin-bottom: 30px;
			a {
				background-color: transparent !important;
				padding: 0 !important;
				margin: 0 !important;
				.number {
					display: none;
				}
				.quize-menu-item__img {
					&:before {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
			&.current {
				.quize-menu-item__icon, .quize-menu-item__text {
					color: #212528;
				}
				.quize-menu-item__img {
					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	& > .actions {
		width: 100%;
	}
}