html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	@include mlg() {
		font-size: 32px;
	}
	@include msm() {
		font-size: $document-font-size;
	}
	// background-color: #f3f3f3;
	&.scroll-hidden {
		overflow: hidden; 
		@include lg() {
			padding-right: 17px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}
input, textarea {
	&:focus {
		outline: none;
	}
}
button, input[type="submit"] {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
a {
	text-decoration: none;
	color: inherit;
	&:hover, &:focus {
		color: inherit;
		outline: none;
	}
}
// .pixelperfect {
// 	@include xl() {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 		z-index: 9999;

// 		background: url("../images/HC rastr.jpg") 0 0 no-repeat;

// 		opacity: .3;
// 	}
// 	display: none;
// }

.list-clr {
	padding: 0;
	list-style: none;
	margin: 0;
}


iframe {
	width: 100%;
	min-height: 200px;
}



@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

[data-id="header-indents"] {
	transition: ease .1s;
}


br {
	@include mlg() {
		display: none;
	}
}






@keyframes levitation {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -30px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes fliping {
	0% {
		transform: rotateZ(0) ratateY(0);
	}
	50% {
		transform: rotateZ(-2deg) rotateY(15deg);
	}
	100% {
		transform: rotateZ(0) rotateY(0);
	}
}

@keyframes tracking-in-expand-fwd {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px);
		transform: translateZ(-700px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}


.levitation {
	opacity: 1;
	animation-name: levitation;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.fliping {
	opacity: 1;
	transform-origin: 50% 50%;
	animation-name: fliping;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.tracking-in-expand-fwd {
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}