@font-face {
	font-family: 'Geometria';
	src: url('../fonts/subset-Geometria-Light.woff') format('woff'),
		 url('../fonts/subset-Geometria-Light.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/subset-Geometria-LightItalic.woff') format('woff'),
		 url('../fonts/subset-Geometria-LightItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/subset-Geometria-Regular.woff') format('woff'),
		 url('../fonts/subset-Geometria-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/subset-Geometria-Italic.woff') format('woff'),
		 url('../fonts/subset-Geometria-Italic.woff2') format('woff2');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/subset-Geometria-Medium.woff') format('woff'),
		 url('../fonts/subset-Geometria-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/subset-Geometria-MediumItalic.woff') format('woff'),
		 url('../fonts/subset-Geometria-MediumItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/subset-Geometria-Bold.woff') format('woff'),
		 url('../fonts/subset-Geometria-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
}
