.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&_font_size_7 {
		font-size: 7px;
	}
	&_font_size_10 {
		font-size: 10px;
	}
	&_font_size_16 {
		font-size: 16px;
	}
	&_font_size_17 {
		font-size: 17px;
	}
	&_font_size_20 {
		font-size: 20px;
	}
	&_font_size_21 {
		font-size: 21px;
	}
	&_font_size_25 {
		font-size: 25px;
	}
	&_font_size_35 {
		font-size: 35px;
	}
	&_font_size_40 {
		font-size: 40px;
	}
	&_font_size_50 {
		font-size: 50px;
	}
	&_svg_margin_top_5 {
		margin-top: 5px;
	}
	&_svg_margin_bottom_5 {
		margin-bottom: 5px;
	}
	&_margin_5 {
		margin: 5px;
	}

	&_color_white {
		color: #fff;
	}
	&_color_black {
		color: #212528;
	}
	&_color_blue {
		color: #2D98DA;
	}
	&_color_red {
		color: #c03a2b;
	}
	&_color_white_opacity_60 {
		color: rgba(#fff, .6);
	}
	&_right {
		transform: rotate(180deg);
	}
}