<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="favicon-16x16.png">
<link rel="icon" type="image/png" href="favicon-32x32.png">
<link rel="stylesheet" type="text/css" href="css/main.css">