<header class="header">
	<div class="container-fluid">
		<div class="d-flex flex-wrap align-items-center">
			<a class="header__logo logo" href="#">
				<img class="lazy-img lazyload" data-sizes="auto" data-src="images/logo.png" alt="">
			</a>
			<div class="header__phone phone">
				<!-- <svg class="phone__icon svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#telephone"></use>
				</svg> -->
				<a class="phone__link d-flex flex-nowrap align-items-center" href="tel:+88005506534">
					<svg class="phone__icon svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#telephone"></use>
					</svg>
					<span>8 800 550 65 34</span>
				</a>
				<div class="phone__text">Звонок бесплатный по России</div>
			</div>
			<div class="header__menu menu ml-xl-auto" data-id="menu">
				<div class="menu__in position-relative">
					<button class="menu__close close close_position_default d-lg-none" type="button" data-close="menu">
						<svg class="menu__icon svg-icon svg-icon_color_black svg-icon_font_size_25">
							<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
						</svg>
					</button>
					<div class="menu__in-scroll">
						<ul class="menu__nav nav nav-pills menu-nav d-flex flex-wrap align-items-start" id="menu-scrolSpy">
							<li>
								<div class="menu-nav__dropdown dropdown">
									<a class="dropdown__toggle nav-link active" href="#programs">
										<span>Программы</span>
										<svg class="dropdown__caret-angle svg-icon svg-icon_font_size_7">
											<use xlink:href="images/svg-sprite/svgSprite.svg#angle"></use>
										</svg>
									</a>
									<ul class="dropdown__menu">
										<li><a href="#">Программы</a></li>
										<li><a href="#">Кейсы</a></li>
										<li><a href="#">Отзывы</a></li>
									</ul>
								</div>
							</li>
							<li><a class="nav-link" href="#case">Кейсы</a></li>
							<li><a class="nav-link" href="#reviews">Отзывы</a></li>
						</ul>
					</div>
					<a class="menu__login button ml-auto mr-auto d-lg-none" href="#">Войти</a>
				</div>
			</div>
			<a class="header__login button d-none d-lg-inline-block" href="#">Войти</a>
			<button class="header__button button-clr d-lg-none" type="button" data-open="menu">
				<svg class="svg-icon svg-icon_color_black">
					<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
				</svg>
			</button>
		</div>
	</div>
</header>
