<script async>
	function loadJS(u){var r=document.getElementsByTagName("script")[0],s=document.createElement("script");s.src=u;r.parentNode.insertBefore(s,r);}

	if(!window.HTMLPictureElement || !('sizes' in document.createElement('img'))){
		loadJS("https://afarkas.github.io/lazysizes/plugins/respimg/ls.respimg.min.js");
	};
		var lazy = function lazy() {
		document.addEventListener('lazyloaded', function (e)  {
			e.target.parentNode.classList.add('lazy-image-loaded');
			e.target.parentNode.classList.remove('lazy-loading');
		});
	}
	lazy();
</script>
<script src="https://afarkas.github.io/lazysizes/plugins/bgset/ls.bgset.min.js" async></script>
<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/vendor.min.js"></script>
<script src="js/main.js"></script>
